@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

a {
  color: #fff;
}

a:focus,
a:active,
a:hover {
  color: #b80c09;
}

header {
  background: #0a0824;
  padding: 15px 0;
  color: #fff;
}

header .container {
  display: flex;
}

header nav ul {
  height: 100%;
  align-items: center;
}

.content {
  padding: 20px 0;
}

/* form {
  text-align: center;
} */

.error {
  color: red;
}